// COLORS //
$primaryWhite: #fff;
$primaryPurple: #6f2c91;

$secondaryBlue: #0067b3;
$secondaryBlack: #000;
$secondaryLightGray: #d9d9d9;
$secondaryDarkGray: #666;

$errorText: #d0011b;
$errorFill: lighten(#d0021b, 80%);

// TEXT //
$dxcFontRegular: "/fonts/GT-Walsheim-Pro-Regular.woff";
$dxcFontBold: "/fonts/GT-Walsheim-Pro-Bold.woff";
